.invisible {
  display: none;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, #C0AFF8, #F6CFCA);
  background-repeat: no-repeat;
  font-family: "Kode Mono", monospace;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 20dvh;
  max-width: 20dvh;
}

.robot-container {
  display: flex;
  justify-content: space-evenly;
}

.rob-comp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  min-width: 50dvw;
  min-height: 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: #000 10px 10px 10px;
}

.center-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.sub-wrapper {
  background-image: linear-gradient(to bottom right, #C0AFF8, #F6CFCA);
  background-repeat: no-repeat;
  border: #000 solid 3px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
  box-shadow: #000 10px 10px 10px;
}

h1, h3 {
  text-shadow: 1px 1px 1px #000;
}

.text{
  max-width: 170px;
}
